<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
    <title>博客管理</title>
</head>
<body>

<!--导航栏-->
<nav th:replace="_fragment :: nav"></nav>

<br>
<br>
<br>

<!--中间内容-->
<div class="m-padded-tb-massivex">
    <div class="ui container">
        <div class="ui success large  message">
            <p align="center">念念不忘，必有回响</p>
        </div>

        <img src="/static/images/backimg.jpg" th:src="@{/images/backimg.jpg}" alt=""
             class="ui rounded bordered fluid image">
    </div>
</div>

<!--底部栏-->
<footer th:replace="_fragment :: footer"></footer>

<!-- JavaScript -->
<th:block th:replace="_fragment :: script"></th:block>

<script>

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

</script>
</body>
</html>